/*=========== BANNER CSS ============*/
.banner{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.68)), url(../../assets/img/banner.jpg);
    background-size: cover;  
    width:100%;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: #fff;
}

.banner-title{font-size: 85px;font-weight: 300;}

.banner-quote{
    margin-top: 10px;
    font-family: var(--quoteFont);
    font-size: 26px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.35em;
}

.banner-quote span{margin: 0;}
.banner-quote-1{color: var(--second-color);} .banner-quote-2{color: var(--primary-color);}

.banner-btns {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin-top: 25px;
}

.btn-volunteer-now svg{font-size: 22px;} .btn-learn-more svg{font-size: 27px;}

.btn-volunteer-now {border: 1px solid var(--primary-color);} .btn-learn-more {border: 1px solid var(--second-color);}
.btn-volunteer-now:hover {background-color: var(--primary-color); transform: scale(1.05);} 
.btn-learn-more:hover {background-color: var(--second-color); transform: scale(1.05);}

/*=========== FEATURE ONE CSS ============*/

.icon-col {
    width: 100px; 
    transition: 0.3s; 
    margin-right: 15px; padding: 20px;
    background-position: center; background-size: contain; background-repeat: no-repeat;
}

.icon-col:hover {transform: scale(1.05); margin: 5px 15px 10px 0;}

.feature-one{
    width: 100%;
    background-color: #fff;
    padding: 3% 2%;
    margin-top: -24vh;
    border-radius: 10px;
    display: flex; justify-content: space-around; align-items: center;
}

.feature-col{display: flex; flex-flow: column; width: 300px;}
.first-col{display: flex;align-items: center;}
.col-title{font-size: 22px; line-height: 1.25em;}

.red-col {background-image: url('../../assets/img/three_iocn_box_bg.png');}
.blue-col {background-image: url('../../assets/img/three_iocn_box_bg-2.png'); padding: 27.5px;}
.green-col {background-image: url('../../assets/img/three_iocn_box_bg-3.png'); padding: 25px;}

/*=========== FEATURE TWO CSS ============*/
.section-image{border-radius: 10px;}
.section-img, .section-word{width: 50%;}
.background-image{
    position: absolute;
    width: 500px; 
    height: 333px;
    background-color: var(--primary-color);
    margin: 12.5px 0 0 -12.5px ;
    z-index: -1;
    border-radius: 10px;
}

.section-word h1{font-size: 42px;} 
.section-word h2{font-family: var(--quoteFont); color: var(--primary-color);}