.ArticleCard{
    min-width: 350px;
    display: inline-block !important;
    margin: 10px;
    box-shadow: var(--lightShadow);
    transition: var(--fastTrans);
}

.ArticleCard:hover{box-shadow: var(--darkShadow);}

.CardImage{
    background-position: top center;
    background-size: cover;
    height: 220px;
}
.CardBody{padding: 10px 15px;}

.CardTitle{ 
    font-size: 22px;
    height: 55px;
    text-overflow: ellipsis;
    color: var(--primary-color);
    font-family: var(--secondFont);
    font-weight: 600;
}

.CardSubtitle{font-size: 14px;}
.ArticleLabel{
    padding: 5px 10px; 
    font-size: 11px;
    color: white;
    background-color: var(--second-color);
    border-radius: 4px;
}