footer{
    width: 100%;
    min-height: 40vh;
    background-color: var(--primary-color);
    display: flex; justify-content: center; align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding: 10px 5%;
}

.footer-col{
    flex: 1;
    min-width: 250px;
    background-color: aliceblue;
    padding: 15px;
    margin: 15px;
}