@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lato:wght@300&family=Rubik:wght@500&display=swap');
/*Global CSS color */
:root {
  --primary-color: #009368;
  --second-color: #eca30c;

  --primaryFont: 'Rubik', sans-serif;
  --secondFont: 'Lato', sans-serif;
  --quoteFont: 'Edu VIC WA NT Beginner', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primaryFont);
    font-weight: 400;
}

p {
  font-family: var(--secondFont);
  font-weight: 900;
}

body{
  background-color: rgb(227, 238, 236);
}

button {
  border: 0;
  border-radius: 25px;
  background-color: transparent;
  transition: 0.22s ease-in;
}

button a{
  padding: 12px 20px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  border: 0;
  border-radius: 25px;

  display: flex;
  align-items: center;
  transition: 0.28s ease-in;
}

.container{
  margin: 15vh auto;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

p{
  margin: 2.5vh 0;
  line-height: 2em; 
  opacity: 0.7;
  font-size: 18px;
}

span {
  margin: 0 12px;
}

.marked {color: var(--second-color); margin-left: 0;}